{% extends 'base.html' %}
{% block content %}

    <p style="text-align: center; font-weight: bold; font-size: 40px;">Blog List</p>
    <form action='/blog' method='POST'>

    <ul style="list-style-type: none;">
        {% for blog in blogs %}
       
            <li><a style="font-size: 30px;" href='/display?id={{blog.id}}'>{{blog.title}}</a>
            <br><br>       
            {{blog.body}}
            <br><br>

            {% for user in users %}
                {% if user.id == blog.owner_id %}
                <a style="font-size: 14px;">written by: </a>
                <a style="font-size: 14px;" href='user_blogs?id={{user.id}}'>{{user.username}}</a>
                {% endif %}
            {% endfor %}
        </li>
        <hr />
        {% endfor %}
    </ul>

    </form>


{% endblock %}