{% extends 'base.html' %}
{% block content %}

{% for user in users %}
<p style="text-align: center; font-weight: bold; font-size: 40px;">Blogs by {{user.username}}!</p>
{% endfor %}

    <ul style="list-style-type: none;">
        {% for blog in blogs %}

        <li><a style="font-size: 30px;" href='/display?id={{blog.id}}'>{{blog.title}}</a>
            <br><br>
        <a style="font-size: 18px;">{{blog.body}}</a>
            <br><br>

            {% for user in users %}
            <a style="font-size: 14px;">written by: {{user.username}}</a>
            {% endfor %}

        </li>
        <hr>
        {% endfor %}
    </ul>

    
{% endblock %}